{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  .container {
    padding: 20px;
  }

  .section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .item-list {
    margin-left: 20px;
    margin-bottom: 30px;
  }

  .item-box {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  .item-box a {
    text-decoration: none;
    color: #3366cc;
  }

  .item-box a:hover {
    text-decoration: underline;
  }

  .empty-message {
    color: #666;
    margin-left: 10px;
  }
</style>
</head>
<body>

    <div class="p-3">
      <h2> {{ template_data.title }} </h2>
    </div>

    <div class="section-title">
      <div style="font-weight: bold; margin-bottom: 1rem; margin-left: 1rem;">
        <h3>All Players</h3>
      </div class="item-list">
      {% for player in template_data.players %}
          <div class="item-box">
            <a href="#"> {{player.username }}</a>
          </div>
      {% empty %}
          <div class="empty">No Players</div>
      {% endfor %}
  </div>

    <div class="section-title">
        <div style="font-weight: bold; margin-bottom: 1rem; margin-left: 1rem;">
          <h3>Your Friends</h3>
        </div class="item-list">
        {% for friend in template_data.friends %}
            <div class="item-box">
              <a href="#"> {{ friend.username }} </a>
              </div>
        {% empty %}
        <div class="empty-message">No friends</div>
        {% endfor %}
    </div>

</body>
{% endblock content %}