{% extends 'base.html' %}
{% block content %}
<div class="p-4">
  <div class="container">
    <div class="row justify-content-center align-items-center mt-4">
      <div class="col-lg-6 mb-4">
        <h2 class="text-success">{{ template_data.pokemon.name }}</h2>
        <hr class="border-success" />
        <p><strong>Description:</strong> {{ template_data.pokemon.description }}</p>
        <p><strong>Price:</strong> ${{ template_data.pokemon.price }}</p>
        <div class="alert alert-info">This Pokémon is shown from the public PokéAPI.</div>
        {{ template_data.user_pokemon }}
        {{ template_data.user_pokemon.id }}
        <a href="{% url 'accounts.trade' pokemon_id=template_data.pokemon.id %}" class="btn btn-success rounded-pill px-4">
          Trade
        </a>
        <a href="{% url 'cart.add' id=template_data.pokemon.id %}" class="btn btn-success rounded-pill px-4">
          Buy
        </a>
      </div>

      <div class="col-lg-5 text-center mb-4">
        <img src="{{ template_data.pokemon.image }}" class="img-fluid rounded shadow-sm" style="max-height: 400px; object-fit: contain;" alt="{{ template_data.pokemon.name }}">
      </div>
    </div>
  </div>
</div>
{% endblock content %}
