{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-4">
  <div class="container">
    <div class="row justify-content-center mt-4 align-items-center">
      <div class="col-md-6 mb-4">
        <h2 class="text-success mb-3">About</h2>
        <hr class="border-success" />
        <p class="fs-5">
          <strong>PokeTrade</strong> is a platform where users can buy and trade Pokémon with others in the community. Whether you're looking to build your dream team or exchange Pokémon with fellow trainers, PokeTrade makes it easy to discover new Pokémon and complete exciting trades. 
          Start exploring and grow your collection today!
        </p>
        <p class="fs-5">
          Discover the convenience of our digital platform — browse and trade Pokémon on your preferred device, whether it's a computer, tablet, or smartphone. 
          Our intuitive search and smart recommendations make finding your next Pokémon trade easier and more exciting than ever.
        </p>
      </div>
      <div class="col-md-6 text-center mb-4">
        <img src="{% static 'img/pikachu.gif' %}" class="img-fluid rounded shadow-sm" style="max-height: 300px;" alt="Animated Pikachu" alt="About Poke Store"/>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
