{% extends 'base.html' %}
{% block content %}
<header class="text-white text-center py-5" style="width: 100vw; margin-left: 0; margin-right: 0; background: linear-gradient(to right, #a8e6cf, #dcedc1);">
  <div class="d-flex align-items-center flex-column">
    <h1 class="display-4 text-success fw-bold">Poke Store</h1>
    <p class="lead text-dark mt-2">Start Building Your Ultimate Pokémon Collection!</p>
  </div>
</header>


<div class="py-4">
  <div class="container">
    <div class="row mt-3">
      <div class="col text-center mb-4">
        <h4 class="text-success fw-semibold">Welcome to the Best Poke Store!!</h4>
        <p class="text-muted">Explore your favorite Pokémon, collect and trade them digitally - all from one place.</p>
          <a href="{% url 'pokemons.index' %}" class="btn btn-success">
          Browse Collection
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
